.pagina-exercicio12 {
    main {
        .aplicacao {
            .checkbox {
                justify-content: center;
                gap: 10px;
                display: flex;
            }
        }
    }
}