.pagina-exercicio12 {
    main {

        .programa {
            display: flex;

            .aplicacao {
                background-color: #fff;
                width: 300px;
                padding-left: 50px;
                padding: 30px;
                border-radius: 10px;
                margin-left: 200px;
                height: 235px;

                .info {
                    text-align: start;
                    margin: 20px;
                    width: 300px;
                }
    
                .checkbox {
                    justify-content: center;
                    gap: 10px;
                    display: flex;
                    align-items: center;
                }
    
                .botao {
                    margin-top: 20px;
                    margin-left: 150px;
                    margin-right: 0px;
                    padding: 10px;
                    background-color: #847dec;
                    border-radius: 10px;
                    text-align: center;
                    color: #fff;
                }
    
    
                input {
                    width: 100%;
                    border: 1px #000 solid;
                    margin-bottom: 10px;
                    padding: 5px;
                    border-radius: 6px;
                }
            }
    
            .res {
                display: flex;
                flex-wrap: wrap;
                padding: 10px;
                
                .pessoas {
                    background-color: #fff;
                    width: 180px;
                    text-align: center;
                    padding: 5px;
                    margin: 10px;
                    height: 168px;
                    border-radius: 10px;

                    .botoes {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                    
                        .e {
                            background-color: #847dec;
                            color: #fff;
                            padding: 22px;
                            margin-top: 5px;
                            border-bottom-left-radius: 10px;
                            border-right: #5a55a5 solid 1px;
                        }
                        .a {
                            background-color: #847dec;
                            color: #fff;
                            padding: 22px;
                            margin-top: 5px;
                            border-bottom-right-radius: 10px;
                            border-left: #5a55a5 solid 1px;

                        }
                    }
                }
    
            }
        }

 
    }
}