.comp-tabela {
    .tabela {
        display: flex;
        justify-content: center;
        margin: 10px;

        .colunas {
            h1 {
                font-size: 20px;
                padding: 5px;
                color: #fff;
                margin: 2px;
            }

            p {
                padding: 5px;
                margin: 2px;
            }

            .titulo {
                background-color: #ffa500;
            }
            .escuro {
                background-color: #ffcd6f;
            }
            .claro {
                background-color: #ffdb98;
            }


            .titulo-vermelho {
                background-color: #ff0000;
            }
            .vermelho-escuro {
                background-color: #fc4646;
            }
            .vermelho-claro {
                background-color: #ff9c9c;
            }
        }
    }
}