.comp-cards{
    .nolink {
        text-decoration: none;
    }

    .ex {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 0px;

        .preto {
            padding: 60px;
            width: 50px;
            height: 40px;
            margin: 10px;
            border-radius: 20px;
            background-color: #000;
        }        
        .rosa {
            padding: 60px;
            width: 50px;
            height: 40px;
            margin: 10px;
            border-radius: 20px;
            background-color: pink;
        }        
        .roxo {
            padding: 60px;
            width: 50px;
            height: 40px;
            margin: 10px;
            border-radius: 20px;
            background-color: purple;
        }        
        .amarelo {
            padding: 60px;
            width: 50px;
            height: 40px;
            margin: 10px;
            border-radius: 20px;
            background-color: #000;
        }        
        .azul {
            padding: 60px;
            width: 50px;
            height: 40px;
            margin: 10px;
            border-radius: 20px;
            background-color: blue;
        }        
        .verde {
            padding: 60px;
            width: 50px;
            height: 40px;
            margin: 10px;
            border-radius: 20px;
            background-color: green;
        }        
        .cinza {
            padding: 60px;
            width: 50px;
            height: 40px;
            margin: 10px;
            border-radius: 20px;
            background-color: gray;
        }        
        .ciano {
            padding: 60px;
            width: 50px;
            height: 40px;
            margin: 10px;
            border-radius: 20px;
            background-color: aqua;
        }        
        .laranja {
            padding: 60px;
            width: 50px;
            height: 40px;
            margin: 10px;
            border-radius: 20px;
            background-color: orange;
        }        
        .vermelho {
            padding: 60px;
            width: 50px;
            height: 40px;
            margin: 10px;
            border-radius: 20px;
            background-color: red;
        }        
        .magenta {
            padding: 60px;
            width: 50px;
            height: 40px;
            margin: 10px;
            border-radius: 20px;
            background-color: #ff00c8;
        }        
        .marrom {
            padding: 60px;
            width: 50px;
            height: 40px;
            margin: 10px;
            border-radius: 20px;
            background-color: brown;
        }

        


        p {
            text-align: center;
            color: #000;
        }
    }
}