.pagina-inicio {


    section {
        h2 {
            margin: 40px;
        }



        .exercicios {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 120px;
            margin: 40px;
            margin-top: 5px;
            flex-wrap: wrap;

            .nolink {
                text-decoration: none;
            }
    
            .ex {
                background-color: #fff;
                padding: 30px;
                border-radius: 10px;
                margin-bottom: 0px;

                .amarelo {
                    width: 100px;
                    margin-left: 20px;
                }
                .verde {
                    width: 100px;
                    margin-left: 25px;
                }
                .azul{
                    width: 100px;
                    margin-left: 40px;
                }
                .vermelho {
                    width: 100px;
                }
                p {
                    text-align: center;
                    color: #000;
                }
            }
        
        }
    }
}