.pagina-sobre {
    main {

        section {
            h2 {
                margin: 20px;
            }
            p {
                text-align: center;
                font-size: 20px;
            }
            img {
                width: 90px;
                margin-left: 620px;
                margin-top: 30px;
            }
        }

        section {
            h2 {
                margin: 40px;
            }
            h1 {
                text-align: center;
            }
            img {
                width: 90px;
            }
        }

    }
}