.pagina{
    main {
        .resultado {
            display: block;
            margin-left: 650px;

            .itens {
                margin-top: 5px;
                padding: 0px;
            }
        }
    }
    
}