@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  background-color: #d8d8d8;
}

.pagina{
  header{
      display: flex;
      background-color: #847dec;

      .parte1{
          display: flex;
          padding: 15px;
          padding-left: 50px;
          align-items: center;
          gap: 40px;

          img {
              width: 50px;
          }

          h2 {
            color: #fff;
            font-size: 20px;
          }
      }

      .parte2 {
          display: flex;
          align-items: center;
          padding: 15px;
          padding-right: 40px;
          margin-left: 800px;
          gap: 20px;

          .nolink {
            text-decoration: none;
          }
          

          h2 {
            text-decoration: none;
            color: #fff;
            font-size: 20px;
          }
      }
  }

  main {
    padding: 30px;

    .resultado {
      margin-left: 500px;
      padding: 20px;
    }


    .titulo {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        gap: 10px;

        img {
            width: 50px;
            border-radius: 30px;
        }
    }
    .descricao {
        padding: 20px;
        text-align: center;
        background-color: #fff;
        width: 1000px;
        border-radius: 10px;
        margin-bottom: 15px;
        margin-left: 80px;
    }

    .aplicacao {
        background-color: #fff;
        width: 300px;
        padding-left: 50px;
        padding: 30px;
        border-radius: 10px;
        margin-left: 450px;

        .botao {
            margin-top: 20px;
            margin-left: 150px;
            margin-right: 0px;
            padding: 10px;
            background-color: #847dec;
            border-radius: 10px;
            text-align: center;
            color: #fff;
        }
        

        input {
            width: 100%;
            border: 1px #000 solid;
            margin-bottom: 10px;
            padding: 5px;
            border-radius: 6px;
        }
    }
}
}